body {
  margin: 10px;
}

.cabecera {
	display: grid;
	padding: 10px;
	grid-gap: 10px;
	grid-template-columns: 1fr;
    background-color: #424242;
    color: #444;
  }

  .tit {
	background-color: #212121;
	color: #fff;
	border-radius: 5px;
	padding: 10px;
	font-size: 120%;
	text-align: center;	  
  }


.enlaces {
	display: grid;
	padding: 10px;
	grid-gap: 10px;
	grid-template-columns: [col] 80px [col] 1fr;
    background-color: #424242;
    color: #444;
  }

  .box {
	background-color: #212121;
	color: #fff;
	border-radius: 5px;
	padding: 10px;
	font-size: 120%;
  }

  .ico {
    grid-column: col 1;
	

  }
  .url {
	grid-column: col 2;
	

  }


